@define-color borders_breeze #626880;
@define-color content_view_bg_breeze #303446;
@define-color error_color_backdrop_breeze #e78284;
@define-color error_color_breeze #e78284;
@define-color error_color_insensitive_backdrop_breeze #626880;
@define-color error_color_insensitive_breeze #626880;
@define-color insensitive_base_color_breeze #414559;
@define-color insensitive_base_fg_color_breeze #838ba7;
@define-color insensitive_bg_color_breeze #51576d;
@define-color insensitive_borders_breeze #626880;
@define-color insensitive_fg_color_breeze #838ba7;
@define-color insensitive_selected_bg_color_breeze #51576d;
@define-color insensitive_selected_fg_color_breeze #838ba7;
@define-color insensitive_unfocused_bg_color_breeze #51576d;
@define-color insensitive_unfocused_fg_color_breeze #838ba7;
@define-color insensitive_unfocused_selected_bg_color_breeze #51576d;
@define-color insensitive_unfocused_selected_fg_color_breeze #838ba7;
@define-color link_color_breeze #8caaee;
@define-color link_visited_color_breeze #ca9ee6;
@define-color success_color_backdrop_breeze #a6d189;
@define-color success_color_breeze #a6d189;
@define-color success_color_insensitive_backdrop_breeze #626880;
@define-color success_color_insensitive_breeze #626880;
@define-color theme_base_color_breeze #303446;
@define-color theme_bg_color_breeze #414559;
@define-color theme_button_background_backdrop_breeze #51576d;
@define-color theme_button_background_backdrop_insensitive_breeze #626880;
@define-color theme_button_background_insensitive_breeze #626880;
@define-color theme_button_background_normal_breeze #51576d;
@define-color theme_button_decoration_focus_backdrop_breeze #8caaee;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #626880;
@define-color theme_button_decoration_focus_breeze #8caaee;
@define-color theme_button_decoration_focus_insensitive_breeze #626880;
@define-color theme_button_decoration_hover_backdrop_breeze #8caaee;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #626880;
@define-color theme_button_decoration_hover_breeze #8caaee;
@define-color theme_button_decoration_hover_insensitive_breeze #626880;
@define-color theme_button_foreground_active_backdrop_breeze #c6d0f5;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #838ba7;
@define-color theme_button_foreground_active_breeze #c6d0f5;
@define-color theme_button_foreground_active_insensitive_breeze #838ba7;
@define-color theme_button_foreground_backdrop_breeze #c6d0f5;
@define-color theme_button_foreground_backdrop_insensitive_breeze #838ba7;
@define-color theme_button_foreground_insensitive_breeze #838ba7;
@define-color theme_button_foreground_normal_breeze #c6d0f5;
@define-color theme_fg_color_breeze #c6d0f5;
@define-color theme_header_background_backdrop_breeze #414559;
@define-color theme_header_background_breeze #51576d;
@define-color theme_header_background_light_breeze #414559;
@define-color theme_header_foreground_backdrop_breeze #c6d0f5;
@define-color theme_header_foreground_breeze #c6d0f5;
@define-color theme_header_foreground_insensitive_backdrop_breeze #c6d0f5;
@define-color theme_header_foreground_insensitive_breeze #c6d0f5;
@define-color theme_hovering_selected_bg_color_breeze #8caaee;
@define-color theme_selected_bg_color_breeze #8caaee;
@define-color theme_selected_fg_color_breeze #c6d0f5;
@define-color theme_text_color_breeze #c6d0f5;
@define-color theme_titlebar_background_backdrop_breeze #414559;
@define-color theme_titlebar_background_breeze #51576d;
@define-color theme_titlebar_background_light_breeze #414559;
@define-color theme_titlebar_foreground_backdrop_breeze #c6d0f5;
@define-color theme_titlebar_foreground_breeze #c6d0f5;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #c6d0f5;
@define-color theme_titlebar_foreground_insensitive_breeze #c6d0f5;
@define-color theme_unfocused_base_color_breeze #303446;
@define-color theme_unfocused_bg_color_breeze #414559;
@define-color theme_unfocused_fg_color_breeze #c6d0f5;
@define-color theme_unfocused_selected_bg_color_alt_breeze #51576d;
@define-color theme_unfocused_selected_bg_color_breeze #51576d;
@define-color theme_unfocused_selected_fg_color_breeze #c6d0f5;
@define-color theme_unfocused_text_color_breeze #c6d0f5;
@define-color theme_unfocused_view_bg_color_breeze #414559;
@define-color theme_unfocused_view_text_color_breeze #838ba7;
@define-color theme_view_active_decoration_color_breeze #8caaee;
@define-color theme_view_hover_decoration_color_breeze #8caaee;
@define-color tooltip_background_breeze #51576d;
@define-color tooltip_border_breeze #626880;
@define-color tooltip_text_breeze #c6d0f5;
@define-color unfocused_borders_breeze #626880;
@define-color unfocused_insensitive_borders_breeze #626880;
@define-color warning_color_backdrop_breeze #e5c890;
@define-color warning_color_breeze #e5c890;
@define-color warning_color_insensitive_backdrop_breeze #626880;
@define-color warning_color_insensitive_breeze #626880;