@define-color borders_breeze #4c566a;
@define-color content_view_bg_breeze #2e3440;
@define-color error_color_backdrop_breeze #bf616a;
@define-color error_color_breeze #bf616a;
@define-color error_color_insensitive_backdrop_breeze #4c566a;
@define-color error_color_insensitive_breeze #4c566a;
@define-color insensitive_base_color_breeze #3b4252;
@define-color insensitive_base_fg_color_breeze #7b88a1;
@define-color insensitive_bg_color_breeze #434c5e;
@define-color insensitive_borders_breeze #4c566a;
@define-color insensitive_fg_color_breeze #7b88a1;
@define-color insensitive_selected_bg_color_breeze #434c5e;
@define-color insensitive_selected_fg_color_breeze #7b88a1;
@define-color insensitive_unfocused_bg_color_breeze #434c5e;
@define-color insensitive_unfocused_fg_color_breeze #7b88a1;
@define-color insensitive_unfocused_selected_bg_color_breeze #434c5e;
@define-color insensitive_unfocused_selected_fg_color_breeze #7b88a1;
@define-color link_color_breeze #81a1c1;
@define-color link_visited_color_breeze #b48ead;
@define-color success_color_backdrop_breeze #a3be8c;
@define-color success_color_breeze #a3be8c;
@define-color success_color_insensitive_backdrop_breeze #434c5e;
@define-color success_color_insensitive_breeze #434c5e;
@define-color theme_base_color_breeze #2e3440;
@define-color theme_bg_color_breeze #3b4252;
@define-color theme_button_background_backdrop_breeze #434c5e;
@define-color theme_button_background_backdrop_insensitive_breeze #4c566a;
@define-color theme_button_background_insensitive_breeze #4c566a;
@define-color theme_button_background_normal_breeze #434c5e;
@define-color theme_button_decoration_focus_backdrop_breeze #81a1c1;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #4c566a;
@define-color theme_button_decoration_focus_breeze #81a1c1;
@define-color theme_button_decoration_focus_insensitive_breeze #4c566a;
@define-color theme_button_decoration_hover_backdrop_breeze #81a1c1;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #4c566a;
@define-color theme_button_decoration_hover_breeze #81a1c1;
@define-color theme_button_decoration_hover_insensitive_breeze #4c566a;
@define-color theme_button_foreground_active_backdrop_breeze #d8dee9;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #7b88a1;
@define-color theme_button_foreground_active_breeze #d8dee9;
@define-color theme_button_foreground_active_insensitive_breeze #7b88a1;
@define-color theme_button_foreground_backdrop_breeze #d8dee9;
@define-color theme_button_foreground_backdrop_insensitive_breeze #7b88a1;
@define-color theme_button_foreground_insensitive_breeze #7b88a1;
@define-color theme_button_foreground_normal_breeze #d8dee9;
@define-color theme_fg_color_breeze #d8dee9;
@define-color theme_header_background_backdrop_breeze #3b4252;
@define-color theme_header_background_breeze #434c5e;
@define-color theme_header_background_light_breeze #3b4252;
@define-color theme_header_foreground_backdrop_breeze #d8dee9;
@define-color theme_header_foreground_breeze #d8dee9;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d8dee9;
@define-color theme_header_foreground_insensitive_breeze #d8dee9;
@define-color theme_hovering_selected_bg_color_breeze #81a1c1;
@define-color theme_selected_bg_color_breeze #81a1c1;
@define-color theme_selected_fg_color_breeze #d8dee9;
@define-color theme_text_color_breeze #d8dee9;
@define-color theme_titlebar_background_backdrop_breeze #3b4252;
@define-color theme_titlebar_background_breeze #434c5e;
@define-color theme_titlebar_background_light_breeze #3b4252;
@define-color theme_titlebar_foreground_backdrop_breeze #d8dee9;
@define-color theme_titlebar_foreground_breeze #d8dee9;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #d8dee9;
@define-color theme_titlebar_foreground_insensitive_breeze #d8dee9;
@define-color theme_unfocused_base_color_breeze #2e3440;
@define-color theme_unfocused_bg_color_breeze #3b4252;
@define-color theme_unfocused_fg_color_breeze #d8dee9;
@define-color theme_unfocused_selected_bg_color_alt_breeze #4c566a;
@define-color theme_unfocused_selected_bg_color_breeze #4c566a;
@define-color theme_unfocused_selected_fg_color_breeze #d8dee9;
@define-color theme_unfocused_text_color_breeze #d8dee9;
@define-color theme_unfocused_view_bg_color_breeze #3b4252;
@define-color theme_unfocused_view_text_color_breeze #7b88a1;
@define-color theme_view_active_decoration_color_breeze #81a1c1;
@define-color theme_view_hover_decoration_color_breeze #81a1c1;
@define-color tooltip_background_breeze #434c5e;
@define-color tooltip_border_breeze #4c566a;
@define-color tooltip_text_breeze #d8dee9;
@define-color unfocused_borders_breeze #4c566a;
@define-color unfocused_insensitive_borders_breeze #4c566a;
@define-color warning_color_backdrop_breeze #ebcb8b;
@define-color warning_color_breeze #ebcb8b;
@define-color warning_color_insensitive_backdrop_breeze #4c566a;
@define-color warning_color_insensitive_breeze #4c566a;