@define-color rosewater #c0caf5;
@define-color flamingo #c0caf5;
@define-color pink #bb9af7;
@define-color mauve #bb9af7;
@define-color red #f7768e;
@define-color maroon #ff9e64;
@define-color peach #ff9e64;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color teal #7dcfff;
@define-color sky #7aa2f7;
@define-color sapphire #7aa2f7;
@define-color blue #7aa2f7;
@define-color lavender #bb9af7;
@define-color text #c0caf5;
@define-color subtext1 #a9b1d6;
@define-color subtext0 #9aa5ce;
@define-color overlay2 #8990b3;
@define-color overlay1 #7a818c;
@define-color overlay0 #6c7086;
@define-color surface2 #4a5057;
@define-color surface1 #3a3e44;
@define-color surface0 #2a2e33;
@define-color base #1a1b26;
@define-color mantle #16161e;
@define-color crust #0f0f14;