@define-color rosewater #d3c6aa;
@define-color flamingo #e69875;
@define-color pink #d699b6;
@define-color mauve #a7c080;
@define-color red #e67e80;
@define-color maroon #e69875;
@define-color peach #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color teal #83c092;
@define-color sky #7fbbb3;
@define-color sapphire #7fbbb3;
@define-color blue #7fbbb3;
@define-color lavender #d699b6;
@define-color text #d3c6aa;
@define-color subtext1 #c2b893;
@define-color subtext0 #b1aa7f;
@define-color overlay2 #a0926b;
@define-color overlay1 #8f7a57;
@define-color overlay0 #7e6243;
@define-color surface2 #5c5c4a;
@define-color surface1 #4a4a3a;
@define-color surface0 #38382a;
@define-color base #2d353b;
@define-color mantle #232a2e;
@define-color crust #191e21;