@define-color rosewater #fb4934;
@define-color flamingo #fb4934;
@define-color pink #d3869b;
@define-color mauve #d3869b;
@define-color red #fb4934;
@define-color maroon #fe8019;
@define-color peach #fe8019;
@define-color yellow #fabd2f;
@define-color green #b8bb26;
@define-color teal #8ec07c;
@define-color sky #83a598;
@define-color sapphire #83a598;
@define-color blue #83a598;
@define-color lavender #d3869b;
@define-color text #ebdbb2;
@define-color subtext1 #d5c4a1;
@define-color subtext0 #bdae93;
@define-color overlay2 #a89984;
@define-color overlay1 #928374;
@define-color overlay0 #7c6f64;
@define-color surface2 #665c54;
@define-color surface1 #504945;
@define-color surface0 #3c3836;
@define-color base #282828;
@define-color mantle #1d2021;
@define-color crust #1d2021;