@define-color rosewater #f8f8f2;
@define-color flamingo #ffb86c;
@define-color pink #ff79c6;
@define-color mauve #bd93f9;
@define-color red #ff5555;
@define-color maroon #ff5555;
@define-color peach #ffb86c;
@define-color yellow #f1fa8c;
@define-color green #50fa7b;
@define-color teal #8be9fd;
@define-color sky #6272a4;
@define-color sapphire #6272a4;
@define-color blue #6272a4;
@define-color lavender #bd93f9;
@define-color text #f8f8f2;
@define-color subtext1 #e2e2dc;
@define-color subtext0 #cccccc;
@define-color overlay2 #b6b6b2;
@define-color overlay1 #a0a0a0;
@define-color overlay0 #8a8a8a;
@define-color surface2 #626273;
@define-color surface1 #4e4e5e;
@define-color surface0 #3a3a4a;
@define-color base #282a36;
@define-color mantle #21222c;
@define-color crust #191a21;