@define-color rosewater #8fbcbb;
@define-color flamingo #88c0d0;
@define-color pink #81a1c1;
@define-color mauve #5e81ac;
@define-color red #bf616a;
@define-color maroon #d08770;
@define-color peach #ebcb8b;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color teal #8fbcbb;
@define-color sky #81a1c1;
@define-color sapphire #5e81ac;
@define-color blue #81a1c1;
@define-color lavender #b48ead;
@define-color text #d8dee9;
@define-color subtext1 #e5e9f0;
@define-color subtext0 #eceff4;
@define-color overlay2 #d8dee9;
@define-color overlay1 #e5e9f0;
@define-color overlay0 #eceff4;
@define-color surface2 #434c5e;
@define-color surface1 #4c566a;
@define-color surface0 #5e81ac;
@define-color base #2e3440;
@define-color mantle #3b4252;
@define-color crust #434c5e;