@import "macchiato.css";

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}


window#waybar {
    background-color: rgba(36, 39, 58, 0.55);
    border-radius: 90px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
    color: #7a95c9;
    box-shadow: inset 0 -3px transparent;
    padding-right: 3px;
    padding-left: 4px;
    margin-left: 0.1em;
    margin-right: 0em;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
    color: #ecd3a0;
    padding-left: 1px;
    padding-right: 12px;
    margin-left: 0em;
    margin-right: 0em;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}


#mode {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#cpu,
#memory,
#custom-gpu,
#custom-updates,
#pulseaudio {
    padding: 0 10px;
}

#wireplumber {
    color: @maroon;
}

#wireplumber:hover,
#custom-updates:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

#cpu {
    color: @mauve;
}

#memory {
    color: @blue;
}

#custom-gpu {
    color: @green;
}

#custom-updates {
    color: @peach;
}

#clock {
    color: @flamingo;
}

#custom-weather {
    color: @sky;
    padding: 10px;
    margin:0;

}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  color: #ecd3a0;
  padding: 0 10px;
}

#custom-notification:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: @sapphire
}

#custom-wireguard {
    padding: 0 12px;
}

#custom-wireguard.wireguard.connected {
    color: @green;
}

#custom-wireguard.wireguard.disconnected {
    color: @red;
}
.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 20px;
}

.modules-center {
    padding: 0 10px;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: @text;
}
